<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{LoveLive! WordCloud for Music</title>
    <link rel="stylesheet" type="text/css" href="/static/layout.css" />
</head>

<body>
  <div class="site-header">
    <div class="title-box">
      <a href="./">LoveLive! WordCloud for Music</a>
    </div>
    <div class="link-box">
      <a href="./" class="link-button">
        <i class="fa fa-caret-right"></i>歌詞
      </a>
    </div>
    <div class="link-box">
      <a href="./" class="link-button">
        <i class="fa fa-caret-right"></i>作曲・編曲
      </a>
    </div>
    <div class="link-box">
      <a href="./" class="link-button">
        <i class="fa fa-caret-right"></i>作詞
      </a>
    </div>
  </div>
<div class="hearder-border">
</div>
<div class="body-back">
    <div></div>
    <div class="body-content">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
