<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{LoveLive! WordCloud for Music</title>
    <link rel="stylesheet" type="text/css" href="/static/layout.css" />
<!--
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
-->
</head>

<body>
  <div class="site-header">
      <a href="./" class="navbar-brand">LoveLive! WordCloud for Music</a>
  </div>
<!--
    <div class="header-link">
          <a href="">TOP</a></li>
          <a href="">lyricMusic</a></li>
    </div>
    <div class="hearder-border">
      <p></p>
    </div>
-->
<div class="hearder-border">
</div>
<div class="body-back">
    <div></div>
    <div class="body-content">
        {% block body %}{% endblock %}
<!--
        <hr />
        <footer>
            <p>LoveLive! WordCloud for Music</p>
        </footer>
-->
    </div>
</div>
</body>
</html>
