<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>LoveLive! WordCloud for Music</title>
  <!--<script src="{{url_for('static', filename='lyriccloud.js')}}"></script>-->
  <script src="./static/lyriccloud.js"></script>
</head>
<body>
<form method="post" name ="termsCheck" action"/">
  <div id="checkGroup">
    <input type="checkbox" name="group" value="1" onchange="changeGroup()">μ's
    <input type="checkbox" name="group" value="2" onchange="changeGroup()">Aqours
    <input type="checkbox" name="group" value="3" onchange="changeGroup()">虹ヶ咲学園スクールアイドル同好会
  </div>
  <!--<div id="checkYear">
    <input type="checkbox" name="year" value="1" onchange="changeYear()">１年
    <input type="checkbox" name="year" value="1" onchange="changeYear()">２年
    <input type="checkbox" name="year" value="1" onchange="changeYear()">３年
  </div>
  -->
  <div id="checkUnit1">
      <input type="checkbox" name="unit" value="2" onchange="changeUnit()">Printemps
      <input type="checkbox" name="unit" value="3" onchange="changeUnit()">lily white
      <input type="checkbox" name="unit" value="4" onchange="changeUnit()">BiBi
  </div>
  <div id="checkUnit2">
    <input type="checkbox" name="unit" value="7" onchange="changeUnit()">CYaRon!
    <input type="checkbox" name="unit" value="8" onchange="changeUnit()">AZALEA
    <input type="checkbox" name="unit" value="9" onchange="changeUnit()">Guilty Kiss
  </div>
  <button name="submit" value="submit">実行</button>
</form>
{% if img_data %}
<img src="data:image/png:base64,{{ img_data }}"/>
{% endif %}
</body>
</html>
